[Unit]
Description=Import NDJSON -> per-day SQLite
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/blueskai/bluesky-ai-analysis
# prevent overlapping runs
ExecStart=/usr/bin/flock -n /run/bsky-import.lock \
  /home/blueskai/bluesky-ai-analysis/.venv/bin/python scripts/file_to_db.py \
    --indir /mnt/ingestion/jetstream \
    --outdir /mnt/ingestion/database \
    --state state \
    --batch 2000
Environment=PYTHONUNBUFFERED=1
